<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="daypilot" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\daypilot.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="daypilotConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\daypilot.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization uiCulture="en" culture="en-us"/>
    <pages clientIDMode="AutoID"/>
  </system.web>
</configuration>